[submodule "apps/fabric/src/libsnark/depends/libsnark"]
	path = apps/fabric/src/libsnark/depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "apps/fabric/src/libsnark/depends/CryptoFinTech2018Template"]
	path = apps/fabric/src/libsnark/depends/CryptoFinTech2018Template
	url = https://github.com/kurointrento/CryptoFinTech2018Template.git
